name: test
on: 
  push: 
    branches:
      - 'test'
  
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - run: echo "linter sonarqube"
      
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "run unit tests"

  build:
    needs: [unit_tests, linter] 
    runs-on: ubuntu-latest
    steps:
      - run: echo "build"

  integration_tests:
    needs: build
    uses: ./.github/workflows/integration_test.yml
    with:
      prompt: "RKE333's prompt for integration tests"