name: test
on: 
  push: 
    branches:
      - 'test'
  
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - run: echo "linter sonarqube"
      
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "run unit tests"

  build_and_integration_tests:
    needs: [unit_tests, linter] 
    runs-on: ubuntu-latest
    steps:
      - run: echo "build"
      - run: echo "run integration tests"