name: test
on: 
  push: 
    branches:
      - 'test'
  workflow_dispatch:
    inputs:
      rek333-delicious-mac:
        description: 'A sample choice of the delcious mac or not'
        type: choice
        options:
          - "true"
          - "false"
          - "maybe"
          - "always"
          - "never"
          - "sometimes"
          - "often"
          - "rarely"
          - "occasionally"
          - "frequently"
          - "seldom"
          - "regularly"
          - "sporadically"
          - "periodically"
          - "intermittently"
          - "constantly"
          - "infrequently"
          - "routinely"
          - "habitually"
          - "systematically"
          - "randomly"
        required: false
        default: true
      prompt:
        description: 'Prompt for integration tests'
        required: true
        default: 'rke333 smell sock prompt'
  
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - run: echo "linter sonarqube"
      
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "run unit tests"

  build:
    needs: [unit_tests, linter] 
    runs-on: ubuntu-latest
    steps:
      - run: echo "build"

  integration_tests:
    needs: build
    uses: ./.github/workflows/integration_test.yml
    with:
      prompt: ${{ inputs.prompt }}