name: test
on: 
  push: 
    branches:
      - 'develop'
  
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      
      - name: hello
        if: ${{ github.ref == 'develop' }}
        run: |
          echo "goodbye"
          echo "line 2"
      